<template>
  <main>
    <div>
      <button :disabled='lapTimes.length===0' @click=deleteLaps id="delete-laps" class="action" title="Delete all laps">
        <i class="far fa-trash-alt" aria-hidden="true"></i> Delete Laps
      </button>
      <button :disabled='currentTime===0' @click=reset id="reset" class="action" title="Reset stopwatch">
        <i class="fas fa-history" aria-hidden="true"></i> Reset
      </button>
    </div>

    <div id="controls">
      <span @click=control v-on:keyup.enter=control v-on:keyup.space=control
            class="action" tabindex="0" role="button">
        <i v-if=!running title="Start stopwatch" class="fas fa-play-circle"></i>
        <i v-if=running title="Pause stopwatch" class="fas fa-pause-circle"></i>
      </span>
    </div>

    <div id="clock" title="Current time">{{ clock(this.currentTime) }}</div>

    <button :disabled=!running||!canAddLap @click=addLap id="lap" class="action" title="Add a new lap">
      <i class="fas fa-circle-notch" aria-hidden="true"></i> Lap
    </button>

    <div id="current-split">
      <span title="Current split time">{{ clock(this.splitTime) }}</span>
      <i class="fas fa-stopwatch" aria-hidden="true"></i>
      <span title="Current time">{{ clock(this.currentTime) }}</span>
    </div>

    <ol id="laps">
      <li v-for="(lap, lapIndex) in lapTimes">
        {{ setLapNumber(lapIndex) }}
        <span class="lap-number" :title="'Lap number ' + lapNumber">#{{ formattedLapNumber }}</span>
        <span :title="'Split for lap ' + lapNumber">{{ clock(calculateSplit(lapIndex)) }}</span>
        <i class="fas fa-angle-down" :title="'Lap number ' + lapNumber"></i>
        <span :title="'Time at end of lap ' + lapNumber">{{ clock(lap) }}</span>
        <i @click=deleteLap(lapIndex) v-on:keyup.enter=deleteLap(lapIndex) v-on:keyup.space=deleteLap(lapIndex)
           :title="'Delete lap ' + lapNumber" class="far fa-trash-alt action" tabindex="0" role="button"></i>
      </li>
    </ol>
  </main>
</template>

<script>

// Limit the number of laps
const maximumLaps = 999;

export default {
  name: 'Stopwatch',
  data() {
    return {
      running: false, // Stopwatch state
      lapNumber: 0,   // Displayed lap number
      // All times are milliseconds
      startTime: 0,   // Latest start time
      pausedTime: 0,  // Time paused (or un-started) since loading, or since last reset
      currentTime: 0, // Time since last reset
      splitTime: 0,   // Split time since last reset, or since the last lap time was added
      lapTimes: []    // Lap times are stored latest-first
    }
  },
  mounted() {
    // Recalculate every 10 ms
    setInterval(() => {
      this.calculateTimes()
    }, 10);
    // Check for lap times in local storage
    let storedLaps = localStorage.getItem('lapTimes');
    this.lapTimes = storedLaps ? JSON.parse(storedLaps) : this.lapTimes;
  },
  computed: {
    canAddLap: function () {
      return this.lapTimes.length < maximumLaps;
    },
    formattedLapNumber: function () {
      /**
       * Zero-pad index labels according to whether the lap times list length is in single figures, tens or hundreds
       * to make the display of lap times less jarring when switching to larger units
       * @returns {string}
       */
      let length = this.lapTimes.length;
      let pad = '';

      if (length >= 10 && this.lapNumber < 10 && length < 100) {
        pad = '0';   // Pad numbers up to ten with one leading zero if ten or more lap times: 01, 02...
      } else if (length >= 100 && this.lapNumber < 10) {
        pad = '00';  // Pad numbers up to ten with two leading zeros if one hundred or more lap times: 001, 002...
      } else if (length >= 100 && this.lapNumber >= 10 && this.lapNumber < 100) {
        pad = '0';   // Pad numbers between ten and one hundred if one hundred or more lap times: 010, 011...
      }

      return pad + this.lapNumber
    }
  },
  methods: {
    /**
     * Calculate paused, recorded, and split times
     */
    calculateTimes() {
      if (this.running) {
        // Calculate recorded and current split times
        this.currentTime = performance.now() - this.pausedTime;
        let lastLap = this.lapTimes[0];
        this.splitTime = (lastLap != null && lastLap < this.currentTime) ? this.currentTime - lastLap : this.currentTime;
      } else {
        // Only calculate paused time
        this.pausedTime = performance.now() - this.currentTime;
      }
    },
    control() {
      !this.running ? this.start() : this.pause();
    },
    start() {
      this.startTime = this.currentTime;
      this.running = true;
    },
    pause() {
      this.running = false;
    },
    reset() {
      this.pausedTime = !this.running ? 0 : performance.now(); // Reset to zero, or carry on if stopwatch is running
      this.startTime = 0;
      this.currentTime = 0;
      this.splitTime = 0;
    },
    addLap() {
      if (this.canAddLap) {
        // Add the latest lap time to the start of the lap times array
        this.lapTimes.unshift(this.currentTime);
        this.storeLaps();
      }
    },
    /**
     * @param {int} index
     */
    deleteLap(index) {
      this.lapTimes.splice(index, 1);
      this.storeLaps();
    },
    storeLaps() {
      localStorage.setItem('lapTimes', JSON.stringify(this.lapTimes));
    },
    deleteLaps() {
      this.lapTimes = [];
      localStorage.removeItem('lapTimes');
    },
    /**
     * Format milliseconds into a clock: hh:mm:ss:ms
     * @param {number} ms
     * @returns {string}
     */
    clock: function (ms) {
      let hours = parseInt((ms / (1000 * 60 * 60)) % 24);
      let minutes = parseInt((ms / (1000 * 60)) % 60);
      let seconds = parseInt((ms / 1000) % 60);
      let milliseconds = parseInt((ms % 1000) / 10);

      hours = hours < 10 ? '0' + hours : hours;
      minutes = minutes < 10 ? '0' + minutes : minutes;
      seconds = seconds < 10 ? '0' + seconds : seconds;
      milliseconds = milliseconds < 10 ? '0' + milliseconds : milliseconds;

      return hours + ':' + minutes + ':' + seconds + ':' + milliseconds;
    },
    /**
     * Calculate split for a lap
     * @param {int} index
     * @returns {number}
     */
    calculateSplit(index) {
      let currentLap = this.lapTimes[index];
      let previousLap = this.lapTimes[index + 1]; // Lap times are stored latest-first
      // Default to the current lap to calculate the split if:
      // - current is the only lap
      // - the stopwatch was reset while running
      return (previousLap != null && previousLap < currentLap) ? currentLap - previousLap : currentLap;
    },
    /**
     * Maintain the lap number for display (because laps are stored latest first)
     * @param {int} lapIndex
     */
    setLapNumber(lapIndex) {
      this.lapNumber = this.lapTimes.length - lapIndex;
    }
  }
}
</script>
