body {
  background-color: #202124;
}
#clock {
  font-size: 55px;
  margin-bottom: 20px;
}
#controls {
  font-size: 90px;
}
#delete-laps, #reset, #lap {
  width: 170px;
}
#reset {
  margin-left: 30px;
}
#current-split {
  font-size: 18px;
}
#current-split i {
  margin: 0 18px 0 18px;
}
#laps {
  display: inline-table;
  font-size: 18px;
}
#laps li {
  list-style-type: none;
  display: table-row;
}
#laps li span, #laps li i  {
  display: table-cell;
  width: 52px;
}
.lap-number {
  color: #9faab4;
  text-align: right;
  padding-right: 8px;
}
.action {
  color: #8ab4f8;
  cursor: pointer;
}
.action:focus {
  outline: 1px #bf985d dotted;
}
#app {
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
  font-family: 'Courier Prime', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 20px;
  color: white;
}
